---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';
import ProfileCard from '../../components/cards/ProfileCard.astro';
import ImageCard from '../../components/cards/ImageCard.astro';

import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Help In India| Tech To Empower',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
const num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
---

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>STEM in India</h1>
			<p>We partnered with an organization called Village Tech Schools to promote FIRST in rural parts of India to give kids oppurtinities in STEM. As of now, we have made 5 FTC (FIRST Tech Challege) teams, and provided the teams with 3D printers, starter kits, and other parts.</p>
		</div>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/screenshots/landing-1.png"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>
	<Container>
		<section class="feature-card__section" id="officiers">
			<h2>Pictures</h2>
			<div class="feature-card__grid">
				{num.map(pic => <ImageCard imgSrc={`/assets/images/home/screenshots/india/${pic}`} desc="a"></ImageCard>)}
				
			</div> 
		</section>
	</Container>
	
</Layout>


<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
	.asdsa {
		min-height: 100px;

	}
</style>
