---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Makerspaces in Jamaica | Tech To Empower',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Makerspaces in Jamaica</h1>
			<p>We have contacted 3 FTC (FIRST Tech Challenge) teams and the PDP (Program Delivery Partner) of Jamaica to make Makerspaces. As of now, it is still a work in progress.</p>
		</div>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/screenshots/landing-2.png"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>
</Layout>

