---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Tech Renewal Initiative | Tech To Empower',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---

<AnnouncementBar text="Read Our Latest Blog Post" href="/blog/posts/remote-work-mental-health/" slot="announcement-bar"/>
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Tech Renewal Initiative</h1>
			<p>We partnered with local organizations such as Keep Flower Mound Beautiful, and companies such as Best Buy to collect broken computers, monitors, and laptops. We repaired the technology, and donated it to Grace Donation Center which provided computers to underprivileged communities.</p>
		</div>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/screenshots/landing-3.png"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	

</Layout>

